# Pengenalan Dasar Pemrograman Python

Fadjar Fathurrahman

Beberapa cara untuk menggunakan Python:

1. Interpreter atau konsol Python standard.
2. Konsol interaktif Python.
3. Jupyter notebook atau Jupyter lab.
4. Menggunakan IDE.

Dokumen ini dibuat dengan menggunakan Jupyter notebook. Dengan menggunakan Jupyter notebook, kita dapat menggabungkan antara narasi teks dan kode.

## Menggunakan Python sebagai kalkulator

### Operasi aritmatika sederhana

Python dapat digunakan sebagai kalkulator untuk melakukan berbagai perhitungan matematika.

Penjumlahan:

In [1]:
2 + 3

5

Pengurangan

In [2]:
2 - 3.1

-1.1

Perkalian

In [3]:
2.3*4*3.1

28.52

Pembagian

In [4]:
2/3

0.6666666666666666

Selain pembagian biasa, Python juga menyediakan operator untuk pembagian bilangan bulat (integer)

In [5]:
2//3

0

In [6]:
4//3

1

Operator modulo (sisa pembagian)

In [7]:
4%3

1

In [8]:
100%7

2

In [9]:
10%5

0

Untuk melakukan beberapa operasi perhitungan sekaligus dalam satu input bisa digunakan tanda koma:

In [10]:
100//7, 100%7

(14, 2)

In [11]:
14*7 + 2

100

### Komentar

Komentar perbaris pada Python dapat ditandai dengan simbol `#`.

Contoh:

```python
# Ini komentar
a = 3 + 7 # ini juga komentar
```

### Fungsi-fungsi matematika

Fungsi-fungsi matematika seperti sin, cos, log, exp dan sebagainya dapat diakses dengan cara mengimport modul `math`. Dalam modul ini juga didefinisikan beberapa konstanta seperti bilangan $\pi$ dan konstanta Euler $e$.

Ada beberapa sintaks untuk mengimpor modul.

**Cara 1**

```python
from nama_module import nama_fungsi1, nama_fungsi2, konstanta1
```

Dengan cara ini, kita dapat langsung menggunakan `nama_fungsi1`, `nama_fungsi1`, `nama_fungsi2` dan `konstanta1` pada kode. Fungsi-fungsi lain yang tidak kita impor tidak bisa digunakan, meskipun fungsi atau konstanta tersebut ada pada modul yang bersangkutan. Contoh:

```python
from math import sin, cos
```

Dengan kode di atas kita hanya mengimport fungsi `sin` dan `cos`, sedangkan fungsi-fungsi lain seperti `tan`, `log`, dan sebagainya tidak akan diimpor (tidak terdefinisi pada sesi atau scope yang sedang aktif).

Jika Anda ingin mengimport semua simbol (konstanta dan fungsi) dapat dilakukan dengan menggunakan *wildcard* `*`:

```python
from math import * # mengimport semua simbol dari modul math
```

**Cara 2**

```python
import math
```

Dengan cara ini kita tidak mengimpor fungsi apapun, namun hanya modul `math` saja. Meskipun demikian kita dapat menggunakan fungsi yang didefinisikan pada modul `math` dengan menggunakan `math.nama_fungsi` atau `math.nama_konstanta`, misalnya:

```python
math.pi     # mengakses konstanta pi
math.sin(math.pi/3) # memanggil fungsi sin
```

In [ ]:
from math import sin, cos

## Variabel dan tipe data

Untuk mendeklarasikan variabel pada Python, kita dapat menggunakan operator penugasan (*assignment*) yaitu dengan tanda `=`

In [12]:
a = 3.4
b = 1
c = a + b

**Catatan**: Pada Jupyter notebook, hasil perhitungan tidak akan ditampilkan jika kita menggunakan operator penugasan. Untuk melihat hasil perhitungan atau nilai variabel kita dapat mengetikkan nama variabel pada suatu sel dan mengeksekusi sel tersebut.

In [13]:
a, b, c

(3.4, 1, 4.4)

Python memiliki banyak tipe data, di antaranya yang sering dipakai adalah:

1. Integer (`int`)
2. Float (`float`)
3. String (`str`)
4. Boolean (`bool`)

Untuk mengetahui tipe suatu variabel kita dapat menggunakan fungsi `type`:

In [14]:
type(a), type(b), type(c)

(float, int, float)

Contoh variabel dengan tipe `String`:

In [15]:
nama1 = "Jojo"
nama2 = "Sujojo"
type(nama1), type(nama2)

(str, str)

Tipe data boolean hanya memiliki dua nilai yang mungkin yaitu: `True` dan `False`

In [16]:
kondisi1 = True
kondisi2 = False
type(kondisi1), type(kondisi2)

(bool, bool)

Nama variabel pada Python mengikuti aturan yang kurang lebih sama dengan penamaan variabel dalam bahasa C/C++.

Contoh nama variabel yang valid:

```python
my_name = "Jojo
MyName = "Sujojo"
x1 = 2.3
```

Contoh nama variabel yang tidak valid:
```python
for = 1  # menggunakan kata kunci for
1a = 4 # diawali dengan angka
```

#### Tipe bilangan kompleks

Selain tipe bilangan bulat (`int`) dan real (`float`), Python juga mendukung tipe bilangan kompleks secara default. Bagian imajiner dari bilangan kompleks dapat dinyatakan dengan menambahkan `j` setelah bagian imajiner.

In [17]:
z1 = 2 + 3j
z2 = 4 + 4.5j
z1 + z2

(6+7.5j)

In [18]:
type(z1)

complex

Member `real` dan `imag` dapat digunakan untuk mengakses bagian real dan imajiner dari bilangan kompleks. Metode `conjugate()` dapat digunakan untuk mendapatkan konjugat kompleks.

In [19]:
z1.real, z2.imag, z1.conjugate()

(2.0, 4.5, (2-3j))

In [20]:
z1*z2

(-5.5+21j)

In [21]:
z1/z2

(0.593103448275862+0.08275862068965516j)

In [22]:
z1*z1.conjugate()

(13+0j)

In [23]:
(z1*z1.conjugate()).real

13.0

In [24]:
(z1*z1.conjugate()).imag

0.0

### String

String merepresentasikan data teks.

Dalam perhitungan numerik string tidak terlalu banyak digunakan. Namun untuk beberapa aplikasi lain seperti parsing dan analisis teks pengetahuan mengenai string sangat diperlukan. Topik mengenai string sangat luas dan kita hanya akan membahas beberapa hal saja.

Ada beberapa cara untuk menggunakan tipe data string.

- Menggunakan tanda petik tunggal: `'Nama saya Jojo'`
- Menggunakan tanda petik ganda: `"Nama saya Jojo"`

Untuk string yang lebih panjang dapat digunakan tidak tanda petik, baik tunggal atau ganda.

In [2]:
nama1 = 'Jojo'
nama2 = "Jojo"
nama1, nama2

('Jojo', 'Jojo')

In [3]:
type(nama1)

str

Contoh string panjang yang memakan lebih dari satu baris.

In [4]:
lirik_lagu = """
Aku ingin begini
Aku ingin begitu
Ingin ini ingin itu
banyak sekali
"""
lirik_lagu

'\nAku ingin begini\nAku ingin begitu\nIngin ini ingin itu\nbanyak sekali\n'

String dapat dianggap sebagai kumpulan dari karakter-karakter individual.

Untuk mengakses karakter individual dapat digunakan operator indexing `[]`. Indeks pada Python dimulai dari 0.

In [7]:
nama1[0], nama1[1], nama2[2]

('J', 'o', 'j')

Untuk mengetahui panjang suatu string dapat digunakan fungsi `len`.

In [8]:
len(nama1)

4

Perhatikan bahwa tipe dari karakter-karakter pada string adalah string juga (bukan `char` seperti pada C/C++).

In [9]:
type(nama1[0])

str

Beberapa operator matematika dapat digunakan pada string, namun operasinya berbeda dengan operasi matematika biasa.

In [13]:
"Nama" + " " + "saya" + " adalah " + "Jojo"

'Nama saya adalah Jojo'

In [14]:
"Jojo"*2

'JojoJojo'

In [22]:
str1 = "saya"

In [23]:
str1.capitalize()

'Saya'

In [21]:
str1.casefold()

'saya'

In [24]:
str1.count("a")

2

In [25]:
lirik_lagu.split()

['Aku',
 'ingin',
 'begini',
 'Aku',
 'ingin',
 'begitu',
 'Ingin',
 'ini',
 'ingin',
 'itu',
 'banyak',
 'sekali']

In [27]:
lirik_lagu.upper()

'\nAKU INGIN BEGINI\nAKU INGIN BEGITU\nINGIN INI INGIN ITU\nBANYAK SEKALI\n'

In [28]:
lirik_lagu.lower()

'\naku ingin begini\naku ingin begitu\ningin ini ingin itu\nbanyak sekali\n'

In [29]:
lirik_lagu[0:9:2]

'\nk ni'

In [30]:
lirik_lagu[::-1]

'\nilakes kaynab\nuti nigni ini nignI\nutigeb nigni ukA\ninigeb nigni ukA\n'

## Tipe data kontainer

### List

List mirip dengan array pada bahasa pemrograman C/C++. Salah satu perbedaannya adalah tipe elemen pada list tidak perlu terdiri dari tipe yang sama. Selain itu, list juga mendukung beberapa operasi yang lebih kompleks dibandingkan dengan array pada C/C++.

In [25]:
mylst1 = [3, 5, 7, 11, 44, 33, 88, 99]
mylst1

[3, 5, 7, 11, 44, 33, 88, 99]

In [26]:
type(mylst1)

list

Contoh list dengan elemen-elemen yang terdiri dari tipe data berbeda.

In [27]:
mylst2 = ["Nama", 1, 2.3, True]
mylst2

['Nama', 1, 2.3, True]

Untuk mengakses elemen pada list kita dapat menggunakan operator indexing `[]`. Indeks pada Python dimulai dari 0.

In [28]:
mylst1[0], mylst1[3]

(3, 11)

Indeks negatif juga dapat digunakan pada list:

In [29]:
mylst1[-1], mylst1[-2], mylst1[-3], mylst1[-4]

(99, 88, 33, 44)

Untuk mengetahui panjang (jumlah element) suatu list dapat digunakan fungsi builtin `len()`:

In [30]:
len(mylst1), len(mylst2)

(8, 4)

List mendukung operasi slicing. Operasi ini mengembalikan (sub)list dari list awal. Sintaks yang digunakan adalah:
```python
mylist[idx_awal:idx_akhir:increment]
```
Dengan sintaks di atas akan dikembalikan sebuah list dengan element dari `mylist[idx_awal]` sampai sebelum `my_list[idx_akhir]` dengan penambahan indeks `increment`.
Pada operasi slicing tidak harus semua paramter diberikan. Secara default `idx_awal = 0`, `idx_akhir = len(my_list)`, dan `increment = 1`.

In [31]:
mylst1[1:3]

[5, 7]

In [32]:
mylst1[0:8:2]

[3, 7, 44, 88]

In [33]:
mylst1[:3]

[3, 5, 7]

In [34]:
mylst1[0:]

[3, 5, 7, 11, 44, 33, 88, 99]

In [35]:
mylst1[::2]

[3, 7, 44, 88]

In [36]:
mylst1[::-1]

[99, 88, 33, 44, 11, 7, 5, 3]

List bersifat **mutable**, artinya elemen list dapat diubah.

In [37]:
mylst1[0] = 1000
mylst1

[1000, 5, 7, 11, 44, 33, 88, 99]

Elemen baru dapat ditambahkan ke list dengan menggunakan metode `append`:

In [38]:
mylst1.append(123)
mylst1

[1000, 5, 7, 11, 44, 33, 88, 99, 123]

Beberapa operator yang normal digunakan pada perhitungan matematika seperti `+` memiliki arti tertentu pada list. Misalnya

In [39]:
mylst1 = mylst1 + [1000]
mylst1

[1000, 5, 7, 11, 44, 33, 88, 99, 123, 1000]

In [49]:
mylst1 + [3, 4, 5]

[1000, 5, 7, 11, 44, 33, 88, 99, 123, 1000, 3, 4, 5]

Elemen dari suatu list dapat juga berupa list yang lain. Pada perintah berikut kita akan menambahkan suatu list yaitu `[3,4,5]` pada `my_list`.

In [50]:
mylst1.append([3,4,5])

In [51]:
mylst1

[1000, 5, 7, 11, 44, 33, 88, 99, 123, 1000, [3, 4, 5]]

List pada Python juga mendukung beberapa operasi lain. Untuk memperoleh gambaran lebih lengkap, Anda dapat membaca di
[https://docs.python.org/3/tutorial/datastructures.html#more-on-lists](https://docs.python.org/3/tutorial/datastructures.html#more-on-lists)

### Tupel

Tupel sangat mirip dengan list. Perbedaan pentingnya adalah tupel bersifat **immutable**. Tupel dapat diinisialisasi dari elemen-elemennya dengan menggunakan tanda `()` dan diantara elemen dipisahkan dengan tanda koma.

In [40]:
mytpl = (0, "3", True, 1.3)
mytpl

(0, '3', True, 1.3)

In [41]:
type(mytpl)

tuple

Tupel juga dapat diinisialisasi tanpa menggunakan tanda `()`.

In [42]:
mytpl = 0, "3", True, 1.3
mytpl

(0, '3', True, 1.3)

In [43]:
mytpl[1:3]

('3', True)

Seperti yang telah diinfomasikan sebelumnya, berbeda dengan list, tupel bersifat **immutable**, artinya elemen-elemennya tidak dapat dimodifikasi setelah diinisialisasi.

Kode berikut ini akan memberikan kesalahan
```python
mytpl[0] = 3.4
```

```
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-44-77d297c1309c> in <module>()
----> 1 mytpl[0] = 3.4

TypeError: 'tuple' object does not support item assignment
```

Karena bersifat immutable, tupel tidak memiliki operasi sefleksibel list. Meskipun demikian kita dapat mengubah tupel menjadi list dengan menggunakan konstruktor `list`.

In [63]:
mylst3 = list(mytpl)
mylst3

[0, '3', True, 1.3]

In [64]:
mylst3[0] = 44
mylst3

[44, '3', True, 1.3]

### Set (himpunan)

Tipe data set pada Python terdiri dari elemen-elemen unik yang tidak berulang. Urutan tidak terdefinisi pada set. Set dapat diinisialisasi dari elemen-elemennya dengan menggunakan tanda kurung kurawal.

In [68]:
myset = {0, 0, 2, 4, 11, 11, 100, 100, "A", "B", True, (3,4)}
myset

{(3, 4), 0, 100, 11, 2, 4, 'A', 'B', True}

Set juga dapat diinisialisasi dengan menggunakan konstruktor `set` dengan sintaks umum sebagai berikut:
```python
set(iterable_data)
```
di mana `iterable_data` merupakan tipe data yang dapat diiterasi seperti list, tupel, string dan sebagainya.

In [70]:
set("Aku ingin begini. Aku ingin begitu")

{' ', '.', 'A', 'b', 'e', 'g', 'i', 'k', 'n', 't', 'u'}

In [72]:
set([1, 3, 4, 6, 7, 8, 8, 9, 7, 4, 3, 2])

{1, 2, 3, 4, 6, 7, 8, 9}

In [78]:
buah2an = ("apel", "mangga", "pisang", "jeruk", "apel", "pisang")
set( buah2an )

{'apel', 'jeruk', 'mangga', 'pisang'}

### Dictionary (kamus)

Ini

## Kontrol alur program

## Fungsi (subprogram)

In [ ]:
def my_func_01(a, b):
    return a + b

In [ ]:
def my_func_02(a, b):
    print("a = ", a)
    print("b = ", b)

In [ ]:
def my_func_03(a, b):
    temp = a
    a = b
    b = a

In [ ]:
a = 3
b = 4
c = my_func_01(a, b)
c

In [ ]:
c = my_func_02(a, b)

In [ ]:
type(c)

In [ ]:
my_func_03(a, b)
a, b

In [ ]:
my_func_03(*{a}, b)
a, b

In [ ]:
def my_func_04(a, b):
    return b, a

In [ ]:
a, b = my_func_04(a, b)
a, b

In [ ]:
def my_func_05(args):
    args[0] = 1

In [ ]:
args = [3, 4]
my_func_05(args)
args